<div class="container my-5">
  <div class="container">
    <h1 class="text-center">Про нас</h1>
    <div class="row justify-content-center mt-5 mb-5">
      <div class="col-md-6">
        <img src="/images/pekarnya.jpg" alt="pekarnya" class="img-fluid">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <p>Наша пекарня виробляє найсмачніші хліб та випічку в місті. Ми дбаємо про якість і використовуємо тільки натуральні інгредієнти. Наші хлібобулочні вироби готуються з любов'ю і уважністю до деталей.</p>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
         <a href="/" class="w-25 btn btn-warning">На головну</a>
      </div>
    </div>
  </div>
</div>